@charset "utf-8";
html {
    font-family: "Microsoft YaHei", Serif;
    font-size: 62.5%;
    color: deepskyblue;
}

* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

p {
    font-size: 3rem;
}

.header {
    position: relative;
    width: 100%;
    background: #2a394e;
}

.header h2 {
    padding: 2rem 0 1.5rem 1rem;
    font-size: 2rem;
    font-family: Microsoft YaHei, Serif;
    color: white;
}

.header img {
    float: right;
    width: 10%;
}

.main {
    margin: 5% 6%;
}

.main .task_main p {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.main .task_main .task {
    float: left;
    text-align: center;
    margin: 1rem;
}

.main .task_main .three {
    overflow: hidden;
    width: 320px;
    height: 128px;
    float: left;
}

.main .task_main .task img {
    float: left;
    width: auto;
}

.clear {
    clear: both;
}

.main .task_main .task p {
    font-size: 2rem;
    padding: 0;
}

.js a,
.jsDOM a,
.xiuzhenyuan a {
    font-size: 2rem;
    color: #ffffff;
}

.js button,
.jsDOM button,
.xiuzhenyuan button {
    width: auto;
    padding: 1.5rem;
    border-radius: 10px;
    margin: 20px;
    margin-left: 0;
}

.js,
.jsDOM,
.xiuzhenyuan {
    margin: 2rem 0;
}

.js button {
    background: dodgerblue;
}

.jsDOM button {
    background: #d2567b;
}

.xiuzhenyuan button {
    background: #29b078;
}

.ribao {
    width: auto;
}

.ribao img {
    width: auto;
    margin: 10px 0;
}

.ribao .gaoxiao {
    float: left;
    width: auto;
}

.ribao .baozou {
    float: right;
    margin: 2rem;
}

.ribao .baozou img {
    width: 8rem;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 40%;
    }
}
