@charset "utf-8";
html {
    font-family: Microsoft JhengHei Light, serif;
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

.father {
    overflow: hidden;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    background: #66cccc;
}

.icon-back {
    width: 10%;
    max-width: 55px;
    padding-top: 2%;
    padding-left: 2%;
}

.putao {
    max-width: 185px;
    padding-top: 12%;
    margin: 0 auto;
}

.wenzi {
    width: 72%;
    margin: 0 auto;
    padding-top: 15%;
    padding-bottom: 20%;
    font-size: 3rem;
    line-height: 5.4rem;
    color: #ffffff;
}

.footer {
    overflow: hidden;
    padding-bottom: 10rem;
    font-size: 2.5rem;
    text-align: center;
    color: #ffffff;
}

.icon-footer {
    width: 50%;
    text-align: center;
    float: left;
}
